<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vozila</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>

    <ion-row class="ion-justify-content-between" >

      <ion-col
        *ngIf="paginationConfig.total !== undefined"
        sizeXl="3" sizeLg="4" sizeMd="5" sizeSm="6" sizeXs="12">
        <ion-item  lines="none">
          <ion-chip color="primary">Ukupno vozila: {{ paginationConfig.total }}</ion-chip>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-list>
      <ion-item detail *ngFor="let vehicle of vehicles; index as i" routerLink="/vehicles/{{ vehicle.vin }}">
        <ion-chip color="primary">{{ paginationConfig.pageSize * paginationConfig.pageIndex + i + 1}}</ion-chip>
        <ion-label>
          <h2> <strong>Vin: </strong> {{ vehicle.vin }}</h2>
          <h2> <strong>Manufacturer: </strong> {{ vehicle.manufacturerName }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-row *ngIf="!loading && paginationConfig.total !== undefined && paginationConfig.total === 0" style="padding-top: 100px;">
      <ion-col class="ion-text-center">
        <h1>No vehicles!</h1>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="loading">
      <ion-col class="ion-text-center">
        <ion-spinner  color="primary"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col class="ion-text-center">

        <ion-icon name="chevron-back-outline" class="pointer ion-padding" *ngIf="paginationConfig.pageIndex > 0" (click)="changePage(false)"></ion-icon>
        <ion-icon
          *ngIf="paginationConfig.total / (paginationConfig.pageIndex + 1) > paginationConfig.pageSize"
          (click)="changePage(true)"
          name="chevron-forward-outline"
          class="pointer ion-padding">
        </ion-icon>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
