<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vehicles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>

    <ion-row class="ion-justify-content-between" >

      <ion-col
        *ngIf="paginationConfig.total !== undefined"
        sizeXl="3" sizeLg="4" sizeMd="5" sizeSm="6" sizeXs="12">
        <ion-item  lines="none">
          <ion-chip color="primary">Total number of vehicles: {{ paginationConfig.total }}</ion-chip>
        </ion-item>
      </ion-col>

    </ion-row>

    <form [formGroup]="filter" *ngIf="filter">

    <!-- <ion-row  class="ion-padding">
      <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeMd="12" sizeXs="12">
        <ion-item>
          <ion-input placeholder="Type vehicle Vin..." formControlName="vin"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->

    <ion-row class="ion-padding-start ion-padding-end" *ngIf="manufacturers" >

      <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item >
          <ion-label>Manufacturer</ion-label>
          <ion-select interface="popover" formControlName="manufacturerName"  (ionChange)="onSelectManufacturer($event)">>
            <ion-select-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.manufacturer">{{ manufacturer.manufacturer }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col *ngIf="!isManufacturerSelected" sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" >
        <ion-item disabled="true">
          <ion-label>Model</ion-label>
          <ion-select interface="popover" formControlName="modelName">
             
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col *ngIf="isManufacturerSelected" sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label>Model</ion-label>
          <ion-select interface="popover" formControlName="modelName">
              <ion-select-option *ngFor="let model of manufaturerModels" [value]="model">{{ model }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label>Fuel type</ion-label >
          <ion-select  interface="popover" formControlName="engineFuel">
            <ion-select-option  value="diesel"> Diesel </ion-select-option>
            <ion-select-option  value="gasoline"> Gasoline </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label>Drivetrain</ion-label>
          <ion-select interface="popover" formControlName="drivetrain">
            <ion-select-option  value="front"> Front Wheel Drive </ion-select-option>
            <ion-select-option  value="rear">  Rear Wheel Drive </ion-select-option>
            <ion-select-option  value="all">   All Wheel Drive </ion-select-option>

          </ion-select>
        </ion-item>
      </ion-col>


    </ion-row>

    <ion-row class="ion-padding-start ion-padding-end">
      <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-input formControlName="yearFrom" placeholder="Year from..."></ion-input>
      </ion-col>
      <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-input formControlName="yearTo" placeholder="to..."></ion-input>
      </ion-col>
      <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-input formControlName="odometerFrom" placeholder="Mileage from..."></ion-input>
      </ion-col>
      <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-input formControlName="odometerTo" placeholder="to..."></ion-input>
      </ion-col>
    </ion-row>

  </form>

    <ion-list>
      <ion-item detail *ngFor="let vehicle of vehicles; index as i" routerLink="/vehicles/{{ vehicle.vin }}">
        <ion-chip color="primary">{{ paginationConfig.pageSize * paginationConfig.pageIndex + i + 1}}</ion-chip>
        <ion-label>
          <h2> <strong>Vin: </strong> {{ vehicle.vin }}</h2>
          <h2> <strong>Manufacturer: </strong> {{ vehicle.manufacturerName + ' ' + vehicle.modelName }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-row *ngIf="!loading && paginationConfig.total !== undefined && paginationConfig.total === 0" style="padding-top: 100px;">
      <ion-col class="ion-text-center">
        <h1>No vehicles!</h1>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="loading">
      <ion-col class="ion-text-center">
        <ion-spinner  color="primary"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col class="ion-text-center">

        <ion-icon name="chevron-back-outline" class="pointer ion-padding" *ngIf="paginationConfig.pageIndex > 0" (click)="changePage(false)"></ion-icon>
        <ion-icon
          *ngIf="paginationConfig.total / (paginationConfig.pageIndex + 1) > paginationConfig.pageSize"
          (click)="changePage(true)"
          name="chevron-forward-outline"
          class="pointer ion-padding">
        </ion-icon>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
